#img-bg{
    background-image: url("https://i.imgur.com/fbrwnzh.png");

    min-height:695px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cor-roxo {
    background-color: #6C3075;
}

.proporcao{
    min-height: 100vh ;
}