/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.cor-roxo {
    background-color: #6C3075;
}

.cor-lilas {
    background-color: #AC62D2;
}